<div class="mascara">
<h5>Dashboard > Itens > <span *ngIf="item; else elseText">Editar</span><ng-template #elseText><span>Adicionar</span></ng-template></h5>

<form #itemForm="ngForm">
	<div class="ui-md-10 ui-sm-12 ui-g-nopad">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-4 form-header">
	    		<h3>Registro:</h3>
		    </div>

		    <div class="ui-g-12 ui-md-8 form-header">
		    	<h2><strong>{{itemTemp.nome}}</strong></h2>
		    </div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12 ui-md-4 text-right">
	    		<label>Nome do item:</label>
		    </div>

		    <div id="inputNome" class="ui-g-12 ui-md-8 ui-fluid">		    	
		    	<input  type="text" pInputText [(ngModel)]="itemTemp.nome" name="nome"  required maxlength="50" />
		    </div>
		</div>
		<div class="ui-g"> 
			<div class="ui-g-12 ui-md-4 text-right">
				<label>Selecione unidade de medida:</label>
		    </div>
		    <div class="ui-g-12 ui-md-8 ui-fluid">		    	
		    	<p-dropdown [options]="listaUm" [(ngModel)]="itemTemp.um" name="um" required
		    	(onChange)="parametroUm($event)" [style]="{'width': '100%'}" ></p-dropdown>
		    </div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12 ui-md-4 text-right">
				<label>Quantidade:</label>
		    </div>
		    <div id="inputQtd" class="ui-g-12 ui-md-8 ui-fluid">
		    	<input  pInputText currencyMask [(ngModel)]="itemTemp.qtd" name="qtd" required
		    	[options]="{precision : [(varPrecisao)],prefix: '' , suffix: ' '+[(varUm)], thousands: '.', decimal: ',' , align: 'left' }" /> 
		    	
		    </div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12 ui-md-4 text-right">
				<label>Valor:</label>
		    </div>
		    <div id="itemValor" class="ui-g-12 ui-md-8 ui-fluid">
		    	<input   pInputText currencyMask [(ngModel)]="itemTemp.valor" name="valor" required
		    	[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , align: 'left' }" />
		    </div>
		</div>
		<div class="ui-g">
		    <div class="ui-g-12 ui-md-4 text-right">
				<label>Perecível:</label>
		    </div>
		    <div class="ui-g-12 ui-md-8 ui-fluid">
		    	<p-dropdown [options]="listaPer" [(ngModel)]="itemTemp.perecivel" (onChange)="changeInputVal($event)"
		    	name="perecivel" required 	 [style]="{'width': '100%'}" ></p-dropdown>
		    </div>
		</div>
		<div class="ui-g">
		    <div class="ui-g-12 ui-md-4 text-right">
				<label style="text-align: right;">Data de Validade:</label>
		    </div>
		    <div class="ui-g-12 ui-md-8 ui-fluid">
		    	<p-calendar [(ngModel)]="itemTemp.val" name="val" required [disabled]="!inputVal"  (onSelect)="maxDateFunction($event)"
		    	 [showIcon]="true" dateFormat="dd/mm/yy" dataType="string" [locale]="pt" [touchUI]="true"></p-calendar>
		    </div>
		</div> 
		<div class="ui-g">
		    <div class="ui-g-12 ui-md-4 text-right">
				<label>Data de Fabricação:</label>
		    </div>
		    <div class="ui-g-12 ui-md-8 ui-fluid">
		    	<p-calendar [(ngModel)]="itemTemp.fab" name="fab" required [maxDate]="maxDate" 
		    	[showIcon]="true" dateFormat="dd/mm/yy" dataType="string" [locale]="pt" [touchUI]="true"></p-calendar>
		    </div>
		</div>
		<br><br>
		<div class="ui-g">			
			<div class="ui-g-12 ui-md-4 text-right">   
				<button class="btn btn-warning btn-block btn-2x" routerLink="/listar-item">Cancelar</button>
			</div>
			<div class="ui-g-12 ui-md-8 ui-fluid">	
				<div *ngIf="item else elseButton">
					<button class="btn btn-success btn-block btn-2x" routerLink="/listar-item" type="submit"
					[disabled]="itemForm.form.invalid"	(click)="updateItem(itemTemp)" [style.background-color]="itemForm.form.invalid == true ? 'lightgrey' : 'green' " >Registrar</button>
				</div>
				<ng-template #elseButton>
		    		<button class="btn btn-success btn-block btn-2x" routerLink="/listar-item" type="submit" [disabled]="itemForm.form.invalid"  (click)="addItem(itemTemp)" [style.background-color]="itemForm.form.invalid == true ? 'lightgrey' : 'green' " >Registrar</button>		    
		    	</ng-template>	 
		    </div>	    
		</div>
	</div>
</form>
</div>