:host {
  width: 200px;
  height: 200px;
  display: block;
  background-color: blue;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  &.isActive {
    background-color: red;
  }
}