<div class="sidebar">
  <ul>
    <li routerLink="dashboard" routerLinkActive="active"><span class="fa fa-dashboard"></span> Dashboard</li>
    <li routerLink="listar-item" routerLinkActive="active"><span class="fa fa-server"></span> Listar Itens</li>
    <li routerLink="adicionar-item" routerLinkActive="active"><span class="fa fa-edit"></span> Editar Itens</li>
    <li><span class="fa fa-exclamation-triangle"></span> Notworking</li>
    <li><span class="fa fa-exclamation-triangle"></span> Notworking</li>
    <li><span class="fa fa-exclamation-triangle"></span> Notworking</li>
    <li><span class="fa fa-exclamation-triangle"></span> Notworking</li>
  </ul>
</div>
<div class="header">
  <h2 class="brand"><span class="brand-icon">#</span><span class="brand-menu"><span (click)="toggleDisplay()" class="fa fa-navicon"></span></span></h2>
  <h1>< Angular<span>FrontEND </span>/></h1>

</div>
<div id="page" class="content" [@routeAnimation]="getDepth(myOutlet)"> 
       
    <router-outlet #myOutlet="outlet"></router-outlet>
 
</div>

<!-- sidenav -->
<div *ngIf="display" class="sidenav">
  <span>&times;</span>
  <a routerLink="dashboard" (click)="toggleDisplay()"><span class="fa fa-dashboard"></span> Dashboard</a>
  <a routerLink="listar-item" (click)="toggleDisplay()"><span class="fa fa-server"></span> Listar Itens</a>
  <a routerLink="adicionar-item" (click)="toggleDisplay()"><span class="fa fa-edit"></span> Editar Itens</a>
</div>
<!-- end sidenav -->