@import 'colors';

.btn{
	border: 0;
	border-radius: 5px;
	padding: 0.7em 2em;	
	color: white;

	&:hover{
		cursor:pointer;
	}
}
.btn-default{
	background: $color4;

	&:hover{
		background: $color2;
	}
}
.btn-warning{
	background: orange;
	
	&:hover{
		 opacity: .8;
	}
}
.btn-success{
	background: green;
	
	&:hover{
		 opacity: .8;
	}
}
.btn-block{
	width: 100%;
}
.btn-2x{
	font-weight: 800;
	transformY: scale(1.2);
}