/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:800|Roboto');
@import 'scss/table';
@import 'scss/buttons';
@import 'scss/colors';
@import 'scss/modal';
@import 'scss/mediaSize';
@import 'scss/sidenav';

body, html{
	background: #f2f2f2;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	 
}
.header{
	top: 0%;
	left: 0%;
	position: fixed;
	background: $color1;
	color: $color4;	
	height: 60px;
	width: 100%;
	z-index: 9999;
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);

	.brand{
		float: left;
		font-family: 'Barlow Condensed', sans-serif;
		color: white;
		text-transform: uppercase;
		margin: 0;
		padding: 2px;
		margin-left: 20px;
		margin-right: 20px;
		letter-spacing: 3px;
		font-size: 42px;
		font-weight: 800;
		color: $green;
	}
	.brand-menu{
		display: none;
	}
	h1{
		font-family: 'Barlow Condensed', sans-serif;
		color: white;
		text-transform: uppercase;
		margin: 0;
		padding: 11px;
		letter-spacing: 3px;
		font-size: 28px;
		font-weight: 800;
		span{
			color: $color5;
		}	
	}
}

	
.sidebar{
	padding-top: 62px;
	position: fixed;
	background: $color2;
	width: 200px;
	height: 100%;	
	top: 0%;
	left: 0%;
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	ul{
		margin-top: 0;
		list-style: none;
		padding: 0px;
	}
	li{
		color: $color5;
		padding: .8em 2em;
		padding-left: 28px;
		background: $color1;
		border-bottom: 1px solid $color2;		
		font-size: 16px;	
			
		&:hover{
			background: $color3;
			cursor: pointer;
		}
	}
	span{
		padding-right: 10px;
	}
}
.active{
	border-left: 3px solid $green;
	padding-left: 25px !important;
	span{
		color: $green !important;
	}
}


.content{
	position: relative;
	.content>*{
		display:block;
	}
	margin-top: 80px;
	padding-right: 20px;
	margin-left: 220px;
	h5{
		margin-top: 0px;
		color: $color3;
	}
	.mascara{
		background-color: white;
		min-height: 100%;
		padding: 2em;
		border-radius: 10px;
		box-shadow: 2px 2px 4px rgba(0,0,0,.3);
		margin-bottom: 20px;
	}
}

#addButton{
	background: $color2;
	border-radius: 50px;
	/* border: 4px solid $color2; */
	width: 60px;
	height: 60px;
	text-align: center;
	z-index: 999;
	font-size: 32px;	
	color: white;	
	position: fixed;
	bottom: 5%;
	right: 5%;	
	transition: all .3s;
	overflow: hidden;
	cursor: pointer;
	.fa{
		margin-top: 15px;
	}
	&:hover{
		background: $color1;
		color: $green;
		/* transform: scale(1.1); */

	}
}



/* colors validation form */
.ng-valid[required], .ng-valid.required{
	.ui-dropdown,input{
		border-left: 5px solid #42A948; /* green */
	}	
}
.ng-invalid:not(form){
	.ui-dropdown,input{
		border-left: 5px solid orange; /* orange */
	}	
}
div#inputNome.ui-g-12.ui-md-8.ui-fluid input.ng-untouched.ng-pristine.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-invalid,
div#inputQtd.ui-g-12.ui-md-8.ui-fluid input.ng-untouched.ng-pristine.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-invalid,
div#itemValor.ui-g-12.ui-md-8.ui-fluid input.ng-untouched.ng-pristine.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-invalid{
	border-left: 5px solid orange; /* orange */
}
div#inputNome.ui-g-12.ui-md-8.ui-fluid input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-dirty.ng-valid.ui-state-filled.ng-touched,
div#inputQtd.ui-g-12.ui-md-8.ui-fluid input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-dirty.ng-valid.ui-state-filled.ng-touched,
div#itemValor.ui-g-12.ui-md-8.ui-fluid input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget.ng-dirty.ng-valid.ui-state-filled.ng-touched{
	border-left: 5px solid #42A948; /* green */
}



/* bug de border bottom prime ng */
.ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, p-chips.ng-dirty.ng-invalid > .ui-inputtext, p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, p-spinner.ng-dirty.ng-invalid > .ui-inputtext, p-selectbutton.ng-dirty.ng-invalid .ui-button, p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border-bottom-color: #c0c0c0;
}