@import 'colors';

.btn{
	border: 0;
	border-radius: 5px;
	padding-top: 0.7em;
	min-width: 90px;
	padding-bottom: 0.7em;	
	color: white;
	opacity: 0.7;
	text-align: center;

	&:hover{
		cursor:pointer;
	}
}
.btn-default{
	background: $color4;

	&:hover{		
		opacity: 1;
	}
}
.btn-primary{
	background: $color2;

	&:hover{
		
		opacity: 1;
	}
}
.btn-warning{
	background: orange;
	
	&:hover{
		 opacity: 1;
	}
}
.btn-success{
	background: green;
	
	&:hover{
		 opacity: 1;
	}
}
.btn-danger{
	background: red;
	
	&:hover{
		 opacity: 1;
	}
}

.btn-block{
	width: 100%;
}
.btn-2x{
	font-weight: 800;
	transformY: scale(1.2);
}
