@import 'colors';


@media screen and (max-width: 640px) {
	.header{
		h1{			
			padding: 2px !important;
			letter-spacing: 3px !important;
			font-size: 18px !important;
			padding-top: 17px !important;
		}
	}
    .sidebar{
    	display: none;
    }
    .content{
    	margin-left: 5px !important;
        margin-top: 65px !important;
        padding-right: 5px !important;
    	.btn-warning{
    		padding-right: 0px !important;
            margin-right: 5px !important;
            margin-bottom: 5px !important;
    	}

    	.mascara{
			padding: 1em !important;
		}

		h5{
			padding-bottom: 1.5em;
		}
		h3{
			margin-top: -30px;
		}
    }

    .hide-small{
    	display: none;
    }

    .brand-icon{
    	display: none;
    }
    .brand-menu{
    	display: initial !important;
    }

    .btn{
        border: 0;
        border-radius: 5px;
        padding-top: 0.3em;
        min-width: 60px;
        padding-bottom: 0.3em;  
        color: white;
        opacity: 0.7;
        text-align: center;
    }

    table{ 
        font-size: 12px;
    } 
}